full_procedure.aux
full_procedure.log
full_procedure.synctex.gz
full_procedure.tex
..gitignore.swp
LaTeX_images/
.gitignore.save
file_setup.pyc
.ipynb_checkpoints/
full_procedure.dvi
star_list.txt
test_star.txt
star_info.txt
gloess_fits.pyc
gloess_fits.py
star_list.txt
full_star_list.txt
functions.pyc